ensure_settings_module = 'zds.settings.{{ env }}'

{% if 'django' in secrets %}
secret_key = "{{ secrets.django }}"
{% endif %}

[social_auth]
{% if 'facebook' in secrets %}
facebook_key = "{{ secrets.facebook.key }}"
facebook_secret = "{{ secrets.facebook.secret }}"
{% endif %}
{% if 'twitter' in secrets %}
twitter_key = "{{ secrets.twitter.key }}"
twitter_secret = "{{ secrets.twitter.secret }}"
{% endif %}
{% if 'google' in secrets %}
google_oauth2_key = "{{ secrets.google.key }}"
google_oauth2_secret = "{{ secrets.google.secret }}"
{% endif %}

[zds]
google_analytics_id = "UA-27730868-1"
google_tag_manager_id = "GTM-WH7642"

votes_id_limit = 131319
VOTES_ID_LIMIT = 131319 # Temporary fix

publications_being_written_forum_id = 23
member_bot_username = "Clem"
member_external_username = "Auteur externe"
member_anonymous_username = "anonyme"

association_fee = "20 €"
association_subscribe_link = "https://www.helloasso.com/associations/zeste-de-savoir/adhesions/cotisations-2021-2022"

visual_changes = {{ visual_changes | default([]) | to_json }}

{% if matomo is defined %}
matomo_tracking_enabled = {{ matomo.tracking_enabled | lower }}
matomo_url = "{{ matomo.url }}"
matomo_site_id = "{{ matomo.site_id }}"
matomo_token_auth = "{{ matomo.token_auth }}"
{% endif %}

{% if very_top_banner is defined %}
[very_top_banner]
background_color = "{{ very_top_banner.background_color }}"
border_color = "{{ very_top_banner.border_color }}"
color = "{{ very_top_banner.color }}"
message = "{{ very_top_banner.message }}"
slug = "{{ very_top_banner.slug }}"
{% endif %}

[databases.default]
name = "{{ mysql.name }}"
user = "{{ mysql.user }}"
password = "{{ mysql.password }}"

[raven]
{% if sentry_dsn is defined %}
dsn = "{{ sentry_dsn }}"
{% endif %}

[elasticsearch]
shards = 3

{% if recaptcha is defined %}
[recaptcha]
use_captcha = {{ recaptcha.use_captcha | lower }}
public_key = "{{ recaptcha.public_key }}"
private_key = "{{ recaptcha.private_key }}"
{% endif %}
