[Unit]
Description=Zeste de Savoir - Watchdog
Requires=mariadb.service zmd.service
After=network.target mariadb.service zmd.service

[Service]
User={{ appuser }}
Group={{ appuser }}
ExecStart={{ workdir }}/wrapper publication_watchdog
ExecStop=/bin/kill -s TERM $MAINPID
Restart=on-failure
RestartSec=60s

[Install]
WantedBy=multi-user.target
