[Unit]
Description=Clear old sessions from database
Requires=mariadb.service
After=mariadb.service

[Service]
Type=oneshot
User={{ appuser }}
Group={{ appuser }}
ExecStart={{ workdir }}/wrapper clearsessions
