[Unit]
Description=Zeste de Savoir
Requires=zds.socket mariadb.service zmd.service
After=network.target mariadb.service zmd.service

[Service]
PIDFile={{ workdir }}/run/gunicorn.pid
User={{ appuser }}
Group={{ appuser }}
WorkingDirectory={{ appdir }}
ExecStart={{ virtualenv }}/bin/gunicorn \
        --pid {{ rundir }}/gunicorn.pid \
        --bind unix:{{ rundir }}/gunicorn.sock \
        --workers 7 \
{% if env == "beta" %}
        --timeout 60 \
{% endif %}
        -e ZDS_CONFIG={{ workdir }}/config.toml \
        -e DJANGO_SETTINGS_MODULE=zds.settings.{{ env }} \
        zds.wsgi
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
