- name: deploy zds-site
  hosts: app
  become: true
  roles:
    - role: common
      tags: bootstrap
    - role: elasticsearch
      tags: bootstrap
    - role: mysql
      tags: bootstrap
    - role: web
      tags: bootstrap
    - role: firewall
      tags: bootstrap
    - app
    - latex
