#!/bin/sh

set -e

echo "Starting script ($(date))"

readonly DATA_DB_RULES="--keep-within 30d -w 6 -m 3"
readonly BORG="/usr/local/bin/borg1.2.6 prune --list --stats"


echo "** data ** ($(date))"
sudo -u zds-prod $BORG $DATA_DB_RULES {{ backupdir }}/data/

echo "** db ** ($(date))"
sudo -u zds-prod $BORG $DATA_DB_RULES {{ backupdir }}/db/

echo "** matomo ** ($(date))"
sudo -u zds-matomo $BORG -m 1 --keep-within 9d {{ backupdir }}/matomo/


curl -s -m 10 --retry 5 {{ secrets.healthcheck_urls.backup_cleaning }}
echo # to make a newline after the "OK" written by curl


echo "End of script ($(date))"
