{{ logdir }}/nginx*.log {
        # pas de suppression avant que maxage ne soit atteint
        rotate -1
        daily
        missingok
        maxage 365
        compress
        notifempty
        create 640 www-data adm
        delaycompress
        sharedscripts
        postrotate
                if [ -f /var/run/nginx.pid ]; then
                        kill -USR1 `cat /var/run/nginx.pid`
                fi
        endscript
}
