- name: install requirements in virtualenv to load fixtures
  become: true
  become_user: "{{ appuser }}"
  ansible.builtin.pip:
    requirements: "{{ appdir }}/requirements-dev.txt"
    virtualenv: "{{ virtualenv }}"
    virtualenv_command: /usr/bin/python3 -m venv

- name: load fixtures  # noqa no-changed-when
  become: true
  become_user: "{{ appuser }}"
  ansible.builtin.shell: >
    if [ ! -e {{ appdir }}/.loaded_fixtures ]; then \
      {{ workdir }}/wrapper loaddata {{ appdir }}/fixtures/*.yaml &&
      {{ workdir }}/wrapper load_factory_data {{ appdir }}/fixtures/advanced/aide_tuto_media.yaml &&
      {{ workdir }}/wrapper load_fixtures --size=low --all &&
      touch {{ appdir }}/.loaded_fixtures &&
      {{ workdir }}/wrapper es_manager index_all; \
    fi
