- name: install app dependencies
  become: true
  apt:
    pkg:
      - python3
      - python3-dev
      - python3-venv
      - python-setuptools
      - build-essential
      - libffi-dev
      - libssl-dev
      - libmariadb-dev
      - autoconf # for gulp-imagemin Node.js package
      - automake # for gulp-imagemin Node.js package
      - rustc # for cryptography Python package
    state: present
    cache_valid_time: 3600
  tags:
    - bootstrap

- name: should have a {{ appuser }} user
  become: true
  user:
    name: "{{ appuser }}"
    shell: /bin/false
    home: "{{ workdir }}"
    comment: "Zeste de Savoir"
  tags:
    - bootstrap

- name: create the needed directories
  become: true
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ appuser }}"
    group: "{{ appuser }}"
  with_items:
    - "{{ logdir }}"
    - "{{ workdir }}"
    - "{{ appdir }}"
    - "{{ rundir }}"
    - "{{ datadir }}"
    - "{{ datadir }}/contents-private"
    - "{{ datadir }}/contents-public"
    - "{{ datadir }}/media"
    - "{{ datadir }}/static"
  tags:
    - bootstrap

- name: checkout the application
  become: true
  become_user: "{{ appuser }}"
  vars:
    refspec: "{{ '+refs/pull/*:refs/pull/*' if 'pull/' in appversion else '+refs/heads/*:refs/remotes/origin/*' }}"
  git:
    repo: "{{ apprepo }}"
    dest: "{{ appdir }}"
    version: "{{ appversion }}"
    refspec: "{{ refspec }}"
  register: app
  notify:
    - reload zds
    - restart watchdog
  tags:
    - bootstrap
    - upgrade

- name: symlink data folders
  become: true
  become_user: "{{ appuser }}"
  file:
    src: "{{ datadir }}/{{ item }}"
    dest: "{{ appdir }}/{{ item }}"
    state: link
  with_items:
    - contents-private
    - contents-public
    - media
    - static
  tags:
    - bootstrap

- name: install wheel and sqlparse in virtualenv
  become: true
  become_user: "{{ appuser }}"
  pip:
    name:
      - wheel
      - sqlparse
    virtualenv: "{{ virtualenv }}"
    virtualenv_command: /usr/bin/python3 -m venv
  tags:
    - bootstrap

- name: install requirements in virtualenv
  become: true
  become_user: "{{ appuser }}"
  pip:
    requirements: "{{ appdir }}/requirements-prod.txt"
    virtualenv: "{{ virtualenv }}"
    virtualenv_command: /usr/bin/python3 -m venv
  when: app.changed
  tags:
    - bootstrap
    - upgrade

- name: save version file
  become: true
  become_user: "{{ appuser }}"
  template:
    src: templates/_version.py.j2
    dest: "{{ appdir }}/zds/_version.py"
    mode: "0644"
  tags:
    - bootstrap
    - upgrade

- name: save wrapper script
  become: true
  become_user: "{{ appuser }}"
  template:
    src: templates/wrapper.j2
    dest: "{{ workdir }}/wrapper"
    mode: "0755"
  tags:
    - bootstrap

- name: create unit files
  template:
    src: templates/{{ item }}.j2
    dest: "/etc/systemd/system/{{ item }}"
  with_items:
    - zds.service
    - zds.socket
    - zds-es-index.service
    - zds-es-index.timer
    - zds-watchdog.service
  tags:
    - bootstrap

- name: create app config file
  become: true
  become_user: "{{ appuser }}"
  template:
    src: templates/config.toml.j2
    dest: "{{ workdir }}/config.toml"
  notify:
    - reload zds
    - restart watchdog
  tags:
    - bootstrap
    - upgrade

- name: create Google Analytics API secrets file
  become: true
  become_user: "{{ appuser }}"
  copy:
    content: "{{ google_analytics_api | combine(secrets.google_analytics_api) | to_nice_json }}"
    dest: "{{ appdir }}/api_analytics_secrets.json"
  when: secrets.google_analytics_api is defined
  tags:
    - bootstrap
    - upgrade

- name: build front if repo changed
  include_tasks: frontend.yml
  when: app.changed
  tags:
    - bootstrap
    - upgrade

- name: collect static files
  become: true
  become_user: "{{ appuser }}"
  environment:
    DJANGO_SETTINGS_MODULE: "zds.settings.{{ env }}"
    ZDS_CONFIG: "{{ workdir }}/config.toml"
  django_manage:
    app_path: "{{ appdir }}"
    virtualenv: "{{ virtualenv }}"
    command: collectstatic
  when: app.changed
  tags:
    - bootstrap
    - upgrade

- name: create webroot
  file:
    path: "{{ webroot }}"
    state: directory
  tags:
    - bootstrap

- name: create symlinks in webroot
  file:
    src: "{{ item.src }}"
    dest: "{{ webroot }}/{{ item.dest }}"
    state: link
  with_items:
    - src: "{{ appdir }}/errors"
      dest: "errors"
    - src: "{{ appdir }}/robots.txt"
      dest: "robots.txt"
    - src: "{{ datadir }}/media"
      dest: "media"
    - src: "{{ datadir }}/static"
      dest: "static"
  tags:
    - bootstrap

- name: create symlink to the maintenance page
  file:
    src: "{{ webroot }}/errors/maintenance.html"
    dest: "{{ webroot }}/maintenance.html"
    state: link
  when: app.changed
  notify: remove maintenance symlink
  tags:
    - upgrade

- name: migrate database
  become: true
  become_user: "{{ appuser }}"
  environment:
    DJANGO_SETTINGS_MODULE: "zds.settings.{{ env }}"
    ZDS_CONFIG: "{{ workdir }}/config.toml"
  django_manage:
    app_path: "{{ appdir }}"
    virtualenv: "{{ virtualenv }}"
    command: migrate
  when: app.changed
  tags:
    - bootstrap
    - upgrade

- name: clear cache
  become: true
  become_user: "{{ appuser }}"
  environment:
    DJANGO_SETTINGS_MODULE: "zds.settings.{{ env }}"
    ZDS_CONFIG: "{{ workdir }}/config.toml"
  django_manage:
    app_path: "{{ appdir }}"
    virtualenv: "{{ virtualenv }}"
    command: clear_cache
  when: app.changed
  tags:
    - bootstrap
    - upgrade

- name: start services and timers
  systemd:
    state: started
    name: "{{ item }}"
    enabled: yes
    daemon_reload: yes
  with_items:
    - zds.service
    - zds.socket
    - zds-es-index.timer
    - zds-watchdog.service
  tags:
    - bootstrap
    - upgrade
