---

- name: add nginx repository key
  apt_key:
    id: 573BFD6B3D8FBC641079A6ABABF5BD827BD9BF62
    keyserver: "keyserver.ubuntu.com"

- name: add nginx repository
  apt_repository:
    repo: "{{ item }}"
    state: present
  with_items:
    - "deb http://nginx.org/packages/debian/ stretch nginx"
    - "deb-src http://nginx.org/packages/debian/ stretch nginx"
  register: repo

- name: install nginx
  apt:
    name: nginx
    update_cache: "{{ repo.changed }}"

- name: check if letsencrypt certificate is present
  stat:
    path: "{{ certificate.cert }}"
  register: cert
  when: certificate is defined

- name: create config dirs
  file:
    path: "/etc/nginx/{{ item }}"
    state: directory
  with_items:
    - snippets/
    - sites-available/
    - sites-enabled/

- name: copy config files
  copy:
    src: "{{ item.src }}"
    dest: "/etc/nginx/{{ item.path }}"
  with_filetree: nginx/
  when: item.state == 'file'
  notify: reload nginx

- name: generate config files
  template:
    src: "{{ item }}.j2"
    dest: "/etc/{{ item }}"
  with_items:
    - nginx/sites-available/zestedesavoir
    - nginx/sites-available/prod-redirect
  notify: reload nginx

- name: enable zds site
  file:
    src: "/etc/nginx/sites-available/zestedesavoir"
    dest: "/etc/nginx/sites-enabled/zestedesavoir"
    state: link
  notify: reload nginx

- name: enable prod redirect site
  file:
    src: "/etc/nginx/sites-available/prod-redirect"
    dest: "/etc/nginx/sites-enabled/prod-redirect"
    state: link
  notify: reload nginx
  when: env == "prod"
