- name: should have some base packages
  apt:
    pkg:
      - locales
      - vim
      - git
      - zsh
      - logrotate
      - tmux
    state: present
    cache_valid_time: 3600

- name: should have UTF-8 locales enabled
  locale_gen:
    name: "{{ item }}"
    state: present
  with_items:
    - fr_FR.UTF-8
    - en_US.UTF-8

- name: set default shell to zsh for root
  user:
    user: root
    shell: /usr/bin/zsh

- name: copy zsh config files
  copy:
    src: "{{ item.src }}"
    dest: "/etc/zsh/{{ item.path }}"
  with_filetree: zsh/
  when: item.state == 'file'

- name: ensure the system can use the HTTPS transport for APT
  stat:
    path: /usr/lib/apt/methods/https
  register: apt_https_transport

- name: install HTTPS transport for APT
  apt:
    pkg: apt-transport-https
    state: present
  when: not apt_https_transport.stat.exists

- name: required packages for gulp-imagemin
  apt:
    pkg:
      - autoconf
      - automake
    state: present
    cache_valid_time: 3600
