{% for section,directives in munin_node_config.iteritems() %}
[{{section}}]
{% for name,val in directives.iteritems() %}
{{ name }} {{ val }}
{% endfor %}

{% endfor %}

{% for file in include_plugin_config_files %}
{% include file %}
{% endfor %}
