name: CI

on:
  - push
  - pull_request

jobs:
  lint:
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Run pre-commit
        uses: pre-commit/action@v3.0.0

  test:
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Ruby and Ruby gems
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
          bundler-cache: true

      - name: Set up Python 3.7
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install Ansible
        run: python3.11 -m pip install ansible

      - name: disable apparmor profile for mysqld # Needed to start mariadb server without AppArmor getting in the way
        run: >
          sudo ln -s /etc/apparmor.d/usr.sbin.mysqld /etc/apparmor.d/disable/;
          sudo apparmor_parser -R /etc/apparmor.d/usr.sbin.mysqld;
          sudo aa-status

      - name: Run Kitchen tests
        run: bundle exec kitchen test
